:root {
  --background: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
  /* fonts*/

  --text-font: 'Manrope', sans-serif;

  
}

a {
  text-decoration: none;
  color: var(--text-color-menu-mobile);
  
  
}

button {
  font: 400 1rem var(--text-font);
}

main {
  padding-top: 3rem;
  left: -1rem;
  width: 100%;
  
  margin-bottom: 0;
  
}



body {
  background-color: var(--background);
  font: 400 1rem var(--text-font);
  -webkit-font-smoothing: auto;
  color: var(--text-color);
  background-image: url(assets/blur-mobile.png);
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 50% ;
   /* Resize the background image to cover the entire container */
   
}

ul {
  list-style: none;

}

* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

/* HEADER */

#header {
  height: 6.06rem;
  padding: 2.3125rem 1.25rem;
  border-bottom: 1px solid var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  background: var(--background);
  
}

/* navigation / MENU */

nav .logo {
  background-image: url(assets/logo-mobile.svg);
  background-repeat: no-repeat;
  padding: 1rem;
}
nav {
  height: 7.06rem;
  align-items: center;
  justify-content: space-between;
  
  
}


nav ul li a{
  transition: 0.2s;
  position: relative;
  padding-left: 1rem; 
}
nav ul li a:hover {
  font: 700 1rem var(--text-font);
}
nav ul li a:hover::after {
  content: "";
  width: .3rem;
  height: 4rem;
  background: var(--button);
  position: absolute;
  left: 0;
  bottom: -1.25rem;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  left: 0 ;
  height: 1rem;

  top:-20rem;
  transition: 0.3s;
  
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  position: fixed;
  padding-left: .5rem;
  
  width: 130%;
  height: 100%;
  background-color: #000;
  left: -.55rem ;
  top: 6.06rem;

  font-size: 1.3rem;
  
  

}

nav.show .icon-open {
  visibility: hidden;
  opacity: 0;
}

nav .toggle {
  position: absolute;
  top: 2.8rem;
  right: 1rem;
 
}

nav .icon-open {
  visibility: visible;
  opacity: 1;
  cursor: pointer;

  
}

nav.show .icon-close {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  top:2.8rem;
  
  
}

nav .icon-close {
  
  visibility: hidden;
  opacity: 0;
  top: -10rem;
  transition: 0.2s;
  
}

  
nav ul li {
  padding: 1rem 0;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  height: 4rem;
}


/*CONTENT*/


.content p {
  margin-top: 8rem;
  margin-bottom: 5.5rem;
  margin-left:1.75rem ;
  margin-right:1.75rem ;
  
  font-size: 2rem;
  text-align: center;
}

.content {
  margin: 5.5rem 1.75rem;
  text-align: center;
}

/* Button */
.btn {
  border: 1px solid var(--button);
  padding-top: 0.5rem ;
  padding-bottom: 0.6rem ;
  padding-left: 1.975rem;
  padding-right: 1.6rem;
  border-radius: 6px;
  background-color: transparent;
  color: var(--text-color);
  font-size: .7rem;
  text-align: center;
  cursor: pointer;
  
}

.btn span {
  font-size: 1rem;
  margin-bottom: 2px;
  
  
}

/* second buton for > 1200 px */

.btn-resp-1 {
  visibility: hidden;
  opacity: 0;

}

.btn-resp-2 {
  visibility: visible;
  opacity: 1;
}


/* image */

main img {
  width: 100%;
  height: 100%;
    
}

div.image {
  width: 80%;
  margin-left: 4.3rem ;
  
}


/* great code */

.stroke {
  text-shadow: -1px -1px 0 var(--button),
   1px -1px 0 var(--button), 
   -1px 1px 0 var(--button), 
   1px 1px 0 var(--button);

   color: #000;

   margin-left:1.75rem ;
   margin-right:1.75rem ;
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
    padding: 0;
    font: 700 1.5rem var(--text-font);
}


.text h1 {
  font: 700 3.37rem var(--text-font);
  
}

.text {
  margin-left:1.75rem ;
  margin-right:1.75rem ;
  margin-top: 5.5rem;
  margin-bottom: 0;
  text-align: center;
  padding: 0;
}




/* responsive */ 

@media (min-width : 1200px ){
  .content p {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }

  main img {
    width: 60%;
    margin-left: 20%;
  }
  

  body {
    background-image: url(assets/blur-1.png) ,url(assets/blur-2.png) ;
    background-position: left bottom, right top;
    
    
  }
  
  #header {
    background: none;
    border-bottom: none;
    padding:0;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
    text-align: center;
    
    
    
  }
  nav .menu ul {
    display: flex;
    gap: 2rem;
    
  }

  nav ul li {
    border-top: none;
    border-bottom: none;
    height: 2rem;
    padding:0;
    
  }

  nav {
    display: flex;
    padding-left: 20%;
    justify-content: space-between;
    
  }

  nav .icon-open {
    display: none;
  }



  /* button */
  
  .content.btn-resp-2 {
    visibility: hidden;
    opacity: 0;
    display: none;
  
  }
  
  .btn-resp-1 {
    visibility: visible;
    opacity: 1;
    
  }
  
  /* great cooffe*/
  div.image {
    width: 80%;
    margin-left: 9.5rem ;
    
  }
  .text {
    margin-left:1.75rem ;
    margin-right:1.75rem ;
    margin-top:0;
    margin-bottom: 0;
    text-align: center;
    padding: 0;
    display: block;
  }
  .content {
    height: .3rem;
    padding:0;
    margin:0;
  }
  .text h1 {
    margin: 0;
  }

  /* menu */
  nav ul li a:hover::after {
    content: "";
    width: 100%;
    height: .3rem;
    
    
    left: 0;
    bottom: -.5rem;
  }

  nav ul li a {
    padding:0;
  }

  nav ul li a:hover {
    font: 400 1.1rem var(--text-font);
  }

  nav .logo {
    background-image: url(assets/logo-desktop.svg);
    background-repeat: no-repeat;
    padding: 2rem 2rem;
  }

}