:root {
  --background: #000;
  --text-color: #FFF;
  --button: #8257E5;
  --border: #29292E;
  --border-menu-mobile: #A8A8B3;
  --text-color-menu-mobile: #E1E1E6;
  /* fonts*/

  --text-font: 'Manrope', sans-serif;

  
}

a {
  text-decoration: none;
  color: var(--text-color-menu-mobile);
  
  
}

button {
  font: 400 1rem var(--text-font);
}

main {
  padding-top: 3rem;
  left: -1rem;
  width: 100%;
  margin-bottom: 0;
  
}



body {
  background-color: var(--background);
  font: 400 1rem var(--text-font);
  -webkit-font-smoothing: auto;
  color: var(--text-color);
  background-image: url(assets/blur-mobile.png);
  background-position: bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 50% ;
   /* Resize the background image to cover the entire container */
}

ul {
  list-style: none;

}

* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

/* HEADER */

#header {
  height: 6.06rem;
  padding: 2.3125rem 1.25rem;
  border-bottom: 1px solid var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  background: var(--background)
  
}

/* navigation / MENU */


nav {
  height: 7.06rem;
  align-items: center;
  justify-content: space-between;
  
  
}


nav ul li a{
  transition: 0.2s;
  position: relative;
  padding-left: 1rem; 
}
nav ul li a:hover {
  font: 700 1rem var(--text-font);
}
nav ul li a:hover::after {
  content: "";
  width: .3rem;
  height: 4rem;
  background: var(--button);
  position: absolute;
  left: 0;
  bottom: -1.25rem;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  left: 0 ;
  height: 1rem;
  
}

nav.show .menu {
  opacity: 1;
  visibility: visible;

  position: fixed;
  padding-left: .5rem;
  
  width: 130%;
  height: 100%;
  background-color: #000;
  left: -.55rem ;
  top: 6.06rem;

  font-size: 1.3rem;
  
  

}

nav.show .icon-open {
  visibility: hidden;
  opacity: 0;
}

nav .toggle {
  position: absolute;
  top: 2.8rem;
  right: 1rem;
 
}

nav .icon-open {
  visibility: visible;
  opacity: 1;
  cursor: pointer;

  
}

nav.show .icon-close {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  
}

nav .icon-close {
  
  visibility: hidden;
  opacity: 0;
  
}

  
nav ul li {
  padding: 1rem 0;
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  height: 4rem;
}


/*CONTENT*/


.stroke {
  text-shadow: -1px -1px 0 var(--button),
   1px -1px 0 var(--button), 
   -1px 1px 0 var(--button), 
   1px 1px 0 var(--button);

   color: #000;
}



.content p {
  margin-top: 8rem;
  margin-bottom: 5.5rem;
  margin-left:1.75rem ;
  margin-right:1.75rem ;
  
  font-size: 2rem;
  text-align: center;
}

.content {
  margin: 5.5rem 1.75rem;
  text-align: center;
}

.btn {
  border: 1px solid var(--button);
  padding-top: 0.5rem ;
  padding-bottom: 0.6rem ;
  padding-left: 1.975rem;
  padding-right: 1.6rem;
  border-radius: 6px;
  background: var(--background);
  color: var(--text-color);
  font-size: .7rem;
  text-align: center;
  cursor: pointer;
  
}

.btn span {
  font-size: 1rem;
  margin-bottom: 2px;
  
  
}

main img {
  width: 100%;
  height: 100%;
    
}

div.image {
  width: 100%;
  margin: 0;
  
  
}



